.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
.logoFugu {
    height: 140px;
    position: relative;
    top: 30px;
}
.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
.HeaderWrapper {
    position: relative;
    top: 0;
    width: 100vw;
    display: flex;
    background-color: #a6e7ce;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* height: 400px; */
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

.Header {
    font-size: 48px;
    font-family: "Helvetica Neue";
    font-weight: 200;
    padding: 35px;
    /* margin-top: 180px; */
    color: #002f36;
}
.Characters {
    width: 400px;
    position: relative;
    left: 300px;
    top: -150px;
}
.List {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 90px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
